.layout {
  display: flex;
  height: 100vh;
  background: var(--color-secondary);
}

.sidebar {
  width: 250px;
  background-color: var(--color-primary);
  color: var(--color-dark);
  padding: var(--spacing);
  box-shadow: var(--shadow-light);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  padding: var(--spacing);
  overflow-y: auto;
}
